
.container .apre  {
    position: relative;
    display: block;
    width: 100%;
    height: 250px;
    background: url(../img/apre.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 20px;
}
.container .apre img  {
    display: none;
}
.container .apre .tit  {
    position: absolute;
    top: 10px;
    left: 20px;
}
.container .apre h1 {
    font-family: title-regular;
    font-size: 50px;
    letter-spacing: -0.01em;
    color: #ffffff;
    text-shadow: 0px 0px 8px rgb(0, 0, 0);
    margin-bottom: 127px;
}
.container .apre h3 {
    font-family: title-regular;
    font-size: 24px;
    letter-spacing: -0.01em;
    color: #fff;
    text-shadow: 0px 0px 8px rgb(0, 0, 0);
}
.container p.testoInt {
    font-family: title-regular;
    font-size: 18px;
    margin: 25px 20px 40px 20px;
    line-height: 25px;
}
.container p.testoInt {
    font-family: title-regular;
    font-size: 18px;
    margin: 25px 20px 40px 20px;
    line-height: 25px;
}
.testoInt a {
   color: #29abef;
   font-family: 'Roboto';
   font-size: 14px;
   font-weight: bold;
   text-transform: uppercase;
   text-decoration: none;
}
.testoInt a::before {
    content: "";
    background-image: url('../img/download.png');
    background-size: contain;
    width: 30px;
    height: 20px;
    display: inline-block;
    background-position: 7px 3px;
    background-repeat: no-repeat;
    top:  2px;
    position:  relative;
}
.container .main-content {

}
.legenda {
    display: block;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 30px;
}
.legenda h2 {
    display: block;
    width: 100%;
    text-align: center;
    margin: 5px 0 10px 0;
    font-size: 20px;
}
.legenda ul  {
    display: block;
    width: 100%;
}
.legenda ul li {
    display: block;
    width: 100%;
    font-size: 14px;
    margin-bottom: 5px;
}

.legenda ul li img {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 10px;
}

.legenda ul li span {
    background: #ffffff;
    color: #29abef;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: 0 10px;
/*    position: absolute;
    bottom: -10px;
    right: -10px;*/
    border-radius: 50%;
    border: 2px solid #29abef;
    text-align: center;
    font-family: main-condensed_heavy;
    font-size: 20px;
}

#elenco {
    margin-top: 30px;
}

#elenco i {
    font-style: italic !important;
}
#elenco b {
    font-weight: bold !important;
}

#elenco div#anchor {
    display: block;
}
#elenco div.filtro {
    display: table;
    width: auto;
    margin: 0 auto;
}

#elenco div.filtro label {
    color: #333;
    display: block;
    padding-bottom: 5px;
    background: #fff;        
    font-size: 12px;    
    text-align: left;
}

/*
#elenco input.search {
    font-family: "main-condensed_light", serif;
    font-size: 14px;
    width: 100%;
    color: #085279;
    border-width: 0 0 1px 0;
    border-color: #ccc;
    height: 40px;
    display: inline-block;
}
*/
/*
#elenco input.search:focus {

    border-width: 2px;
    outline-color: #085279;
    border-color: #085279 !important;
    color: #085279;
    -webkit-tap-highlight-color: #085279 !important;
    padding-left: 10px;
    border-radius: 3px;    
}
*/

#elenco fieldset {
    position: relative;
    font-size: 16px;
    padding: 0;
    margin: 0 8px 0 0;
    border-bottom: 1px solid #333;
    width: 320px;
    float: left;
    font-family: "roboto";    
}
#elenco fieldset:last-child {
    margin: 0 0 12px 0;
}
#elenco select {
    width: 100%;
    position: relative;
    font-size: 16px;
    color: #999;
    background: #fff;
    border: 0;
    padding: 0 0 5px 0; 
    text-indent: 0.01px;
    text-overflow: '';
    -moz-appearance: none;
    -webkit-appearance: none; 
    appearance: none; 
    background-image: url(https://harvesthq.github.io/chosen/chosen-sprite.png);
    background-repeat: no-repeat;
    background-position: 305px 5px;
    font-family: "roboto";    
}

#elenco select::before {
    content: " (" attr(data) ")";
    display: block;
    width: 241px;
    height: 20px;
    position: absolute;
    top: -20px;
    left: 0;
}

#elenco select:nth-child(even) {
    margin-right: 0px;
}

#elenco select:focus {
    border-width: 0;
    outline-width: 0;
    outline-color: #085279;
    border-color: #085279;
    color: #085279;
    -webkit-tap-highlight-color: #29ABEF !important;
}

#elenco select:checked {
    border-width: 1px;
    outline-color: #085279;
    border-color: #085279;
    color: #085279;
    -webkit-tap-highlight-color: #29ABEF !important;
}
#filter_numero {
    width: 80px !important;
}
#elenco .ics {
    display: none;
    cursor: pointer;
    margin-left: 10px;
}
#elenco .messages {
    font-size: 18px;
    color: #29abef;
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 15px;
}

/* lista */
#elenco .list  {
    font-family: main-condensed_regular;
    font-size: 16px;
    width: 100%;
    max-width: 656px;
    margin-top: -30px;
}
#elenco .list li {
    position: relative;
    list-style-type: none;
    display: table;
    width: 100%;
}


#elenco .list li:last-child {
    border-bottom: 0;
}
#elenco .list table {
    width: 100%;
    border-top: 1px solid #ccc;
}
#elenco .list table td{
    padding: 23px 0;
}
    

#elenco .list td.marca {
    width: 100px;
    font-weight: bold;
    font-size: 14px;
}
#elenco .list td.indirizzo {
    font-size: 14px;
}
#elenco .list td.mappa {
    width: 80px;
}
#elenco .list td.mappa iframe {
    display: none;
}



#elenco .list li div.listbox {
    display: block;
    margin: 10px 0;
    display: table;
    width: 100%;
}
#elenco .list li h2.provincia {
    display: none;
}

#elenco .list li h3 {

float:  left;

/* margin-top: 10px; */

width: 120px;
}
#elenco .list li p {

width: 350px;

/* margin-top: 10px; */

float: left;
}


#elenco .list li h2.nome {
    display: block;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 18px;
    margin: 0 0 5px 0;
    letter-spacing: -0.01em;
    color: #333;    
}
#elenco .list li span.indirizzoOK {
    display: block;
    font-family: 'Roboto';       
    font-size: 24px;
    letter-spacing: -0.01em;
    line-height: 42px; 
    font-weight: bold;   
}
#elenco .list li span.provincia {
    display: inline-block;
    font-family: 'Roboto';
    font-size: 14px;
    letter-spacing: -0.01em;
}

#elenco .list li div.icon {
    position: relative;    
    display: inline-block; 
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 50%;
}

#elenco .list li div.icon::after {
    display: block;
    background: #ffffff;
    color: #29abef;
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    bottom: -10px;
    right: -10px;
    border-radius: 50%;
    border: 2px solid #29abef;
    text-align: center;
    font-family: main-condensed_heavy;
    font-size: 20px;    
}
#elenco .list li div.icon.liv1::after {
    content: "1";
}

#elenco .list li div.icon.liv2::after {
    content: "2";
}

#elenco .list li div.icon.liv3::after {
    content: "3";
}


#elenco .list li div.serviziOK {
    display: table;
    text-transform: uppercase;
    font-size: 14px;
    float: right;
    top: -10px;
    position: relative;
    color: #666;
}
#elenco .list li div.serviziOK > div {
    display: block;
    width: 68px;
    height: 68px;
    float: left;
    margin-right: 5px;
    font-size: 12px;
    text-align: center;
}
#elenco .list li div.serviziOK > div > span {
    display: block; 
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 0 auto 5px auto;
}

#elenco .list li a.mappa {
    position: relative;
    display: block;
    float: right;
    width: 64px;
    height: 32px;
    color: #29abef;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}
#elenco .list li a.mappa img {
    margin-right: 5px;
}




/* paginazione */

ul.pagination {
    text-align: center;
    display: block;
    max-width: 656px;
    min-width: 60%;
    margin: 40px 0 80px 0;
    border-top: 1px solid #222;
    padding-top: 20px;
    font-family: main-condensed_regular;    
}

ul.pagination li {
    display: inline-block;
    font-size: 15px;
}

ul.pagination li a {
    color: #ccc !important;
    text-decoration: none;
    margin: 0 6px;
    display: block;
    padding-top: 2px;
    transition: all .1s ease-in-out;    
}
ul.pagination li a:hover {
    color: #085279 !important;
    transform: scale(1.15);  
}
ul.pagination li.active a {
    color: #085279 !important;
    transform: scale(1.25);     
}
ul.pagination li.disabled a {
    text-decoration: none;
    cursor: text;
}

/* social */

.socialtop {
    display: block;
    height: auto;
}
.socialtop .web_widget_socialBar {
    display: block;
    position: relative !important;
}
.web_widget_socialBar {
    z-index: 999999999999;
    position: relative;
    top: 30px;    
}
.socialbar_container .web_widget_socialBar {
    display: inline-block;
    position: static;
}

/* mobile */

@media only screen and (max-width: 480px) {

#header {
    width: 100% !important;
    margin: 0;
    background: #29abef !important;
    padding: 0;
    max-width: none !important;
}
#header .nav_homesezione_xs {
    background: #29abef !important;

}
#header .nav_homesezione_xs ul.nav_links {
    min-height: auto !important;
}
#header .nav_homesezione_xs ul.nav_links .nav-header .icon-logo {
    background: url('//images2.corriereobjects.it/speciale/asset/img/logo_corriere-w.svg') no-repeat;
    display: inline-block;
    height: 15px;
    width: 200px;
}
#header .nav_homesezione_xs ul.nav_links .nav_left i {
    color: #ffffff;
}

#header .nav_homesezione_xs ul.nav_links .nav-header .icon-logo {
    background-size: 100%;
    top: 2px;
    position: relative;
}
#header .nav_homesezione_xs {

}
    .contApre {
    width: 100% !important;
    margin: 0;
    max-width: none !important;
}
.container .apre {
     margin-top: 0px !important;
     height: auto !important;
     background: none !important;
     padding: 0 20px 0 10px;
}

.container .apre img {
    display: block;
}
.container .apre .tit {
    position: relative;
    bottom: 0;
    left: 0px !important;
    margin: 25px 0px 40px 0px;
}

.container .apre h1 {
    color: #222;
    text-shadow: none;
    font-size: 32px;
    margin-bottom: 10px;
}
.container .apre h3 {
    color: #222;
    text-shadow: none;
    font-size: 24px;
}
#elenco div.filtro {
    margin: 20px auto 0 auto;
    width: 100%;
}
#elenco fieldset {
    width: 100%;
}


#elenco .ics {
    margin: 10px auto 0 auto !important;
}

#elenco select {
    background-position: 290px 5px;
    font-family: "roboto";
}
.container .main-content {
    padding: 0 10px 0 30px !important;
}

#elenco .list li div.serviziOK {
    top: 10px !important;
}

    #elenco .list li::after {
        position: absolute !important;
        /* top: -81px; */
    }
    .social_bar.social_bar_sette {
         margin-top: 0
    }
    .socialbar_container .web_widget_socialBar {
        display: block;
    }
    .web_widget_socialBar {
        top: 0px;
    }

}

@media only screen and (max-width: 480px) {
body>.row, body>#header, body>.container, body>.grey_line, .md_bx_16 .container_fascia_sq body>.content, .md_bx_13 .container_fascia_sq body>.content {
    width: 100%;
    max-width: none;
    padding: 0 20px;
}
    .container p.testoInt {
        margin: 25px 0 20px 0;
        padding: 0 20px 0 10px;
    }
    #elenco {
        padding: 0 20px 0 10px;
    }
    #elenco .list li span.indirizzoOK {
        line-height: 24px;
        margin-bottom: 5px;
        font-size: 22px;
    }
    #elenco .list li div.icon {
        width: 35px;
        height: 35px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    #elenco .list li a.mappa {
        text-align: left;
        margin-left: -5px;
        margin-bottom: 10px;
        float: none;
    }
    #elenco .list {
        width: 100%;
        margin-left: 0;
    }

    ul.pagination li {
        font-size: 20px;
    }
    #elenco .list li span.provincia {
        font-size: 14px;
        letter-spacing: -0.01em;
    }
}