{{!-- {{reverse infografiche}} --}}
{{!-- {{reverse menu}} --}}


<div id="elenco">
	<!-- filtri -->		
	<div id="anchor"></div>
	<div class="filtro">
        <select id="filter_categoria">
            <option value='all' selected="selected">Categoria</option>
            {{#each menu}}
                {{#if categoria}}
                    <option value="{{categoria}}">{{categoria}}</option>
                {{/if}}
            {{/each}}
            <option value='all'>Tutti</option>
        </select>        
        <select id="filter_macroarea">
            <option value='all' selected="selected">Macroarea</option>
            {{#each menu}}
                {{#if macroarea}}
                    <option value="{{macroarea}}">{{macroarea}}</option>
                {{/if}}
            {{/each}}
            <option value='all'>Tutti</option>
        </select>
        <select id="filter_stato">
            <option value='all' selected="stato">stato</option>
            {{#each menu}}
                {{#if stato}}
                    <option value="{{stato}}">{{stato}}</option>
                {{/if}}
            {{/each}}
            <option value='all'>Tutti</option>
        </select>
        <select id="filter_firma">
            <option value='all' selected="selected">Autore</option>
            {{#each menu}}
                {{#if firma}}
                    <option value="{{{normalizzami firma}}}">{{{normalizzami firma}}}</option>
                {{/if}}
            {{/each}}
            <option value='all'>Tutti</option>
        </select>  
		<label for="search">Filtra la ricerca</label>
		<input class="search" placeholder="Cerca" />
		<div class="messages"></div>
	</div>	

	<!-- elenco infografiche -->

<div id="elenco">
	<ul class="list">
	{{#each infografiche}}
	    <li class="{{titolo}}" data-index="{{@index}}" data-macroarea="{{macroarea}}" data-stato="{{stato}}" data-numero="{{numero}}" data-categoria="{{noSpaces categoria}}" data-firma="{{noSpaces firma}}">


<article class="st_art_01 st_art_03">

	<header class="st_art_03-header">
		<h6 class="label_art">{{{normalizzami categoria}}}</h6>
		<div class="article-place-date">10 maggio 2018</div>
	</header>
	<div class="st_art_01_det">
		<h5 class="title_art">
			<a href="<!--#echo var='WEB_ROOT_NAZ'-->/sette/leggi-guarda-viaggia/archivio/{{noSpaces titolo}}.shtml">{{{normalizzami titolo}}}</a>
		</h5>
				<figure class="img_mdwrapper">
					<a href="<!--#echo var='WEB_ROOT_NAZ'-->/sette/leggi-guarda-viaggia/archivio/{{anno}}/{{noSpaces titolo}}.shtml" target="_blank">
						<img class="lazy" src="<!--#echo var='WEB_ROOT_IMG_NAZ'-->/sette/leggi-guarda-viaggia/img/pix.png" data-original="<!--#echo var='WEB_ROOT_IMG_NAZ'-->/sette/leggi-guarda-viaggia/img/{{noSpaces infografica}}_small.jpg" alt="{{{normalizzami titolo}}}">
						</a>
					<figcaption class="dida"></figcaption>
				</figure>		
			<span class="art_signature">di <b>{{{normalizzami firma}}}</b></span>
			<span class="testo">{{{normalizzami testo}}}</span>
			{{!-- <span class="keywords">{{keywords}}</span> --}}
			<span class="categoria">{{categoria}}</span>
			<span class="stato">{{stato}}</span>
			<span class="macroarea">{{macroarea}}</span>
			<span class="firma">{{{normalizzami firma}}}</span>		
		<div class="socialbar_container" title-art="La moda? Non si lasci ossessionare dai follower">
			<div class="standardVersion 2015_version">
			    <div class="web_widget_socialBar" rel="(none)" data-href="<!--#echo var='WEB_ROOT_NAZ'-->/sette/leggi-guarda-viaggia/archivio/{{anno}}/{{noSpaces titolo}}.shtml">
			    	<!--#include virtual="social.inc"-->
			    </div>
			</div>
		</div>
	</div>

</article>








			<section class="md_ap_sp2">
				
				<figure class="img_mdwrapper">
					<a href="<!--#echo var='WEB_ROOT_NAZ'-->/sette/leggi-guarda-viaggia/archivio/{{anno}}/{{noSpaces titolo}}.shtml" target="_blank">
						<img class="lazy" src="<!--#echo var='WEB_ROOT_IMG_NAZ'-->/sette/leggi-guarda-viaggia/img/pix.png" data-original="<!--#echo var='WEB_ROOT_IMG_NAZ'-->/sette/leggi-guarda-viaggia/img/{{noSpaces infografica}}_small.jpg" alt="{{{normalizzami titolo}}}">
						</a>
					<figcaption class="dida"></figcaption>
				</figure>

				<article class="content_md">
					<header class="hdr_mdwrapper">
						{{!-- <h6 class="label_art numero">{{numero}}</h6> --}}
						<h6 class="label_art categoria">{{{normalizzami categoria}}}</h6>
						<h3 class="title_art titolo">
							<a href="<!--#echo var='WEB_ROOT_NAZ'-->/sette/leggi-guarda-viaggia/archivio/{{noSpaces titolo}}.shtml" target="_blank">{{{normalizzami titolo}}}</a>
						</h3>
						<div class="main_mdwrapper">
{{!-- 							<div class="art_wrapper">
								<p class="art_paragraph sommario">{{{normalizzami sommario}}}</p>
							</div> --}}
						</div>
				        <span class="testo">{{{normalizzami testo}}}</span>
				        {{!-- <span class="keywords">{{keywords}}</span> --}}
				        <span class="categoria">{{categoria}}</span>
				        <span class="stato">{{stato}}</span>
				        <span class="macroarea">{{macroarea}}</span>
				        <span class="firma">{{{normalizzami firma}}}</span>
					</header>
				</article>

			</section>

			
{{!-- 		{{#if @first }}
			<article class="bk_art_018">
				<header class="hdr_bkwrapper">
					<h6 class="label_art numero">{{numero}}</h6>
					<h6 class="label_art categoria">{{{normalizzami categoria}}}</h6>
					<h3 class="title_art titolo">
						<a href="<!--#echo var='WEB_ROOT_NAZ'-->/sette/leggi-guarda-viaggia/archivio/{{anno}}/{{noSpaces titolo}}.shtml" target="_blank">{{{normalizzami titolo}}}</a>
					</h3>
					<figure class="img_bkwrapper">
						<a href="<!--#echo var='WEB_ROOT_NAZ'-->/sette/leggi-guarda-viaggia/archivio/{{anno}}/{{noSpaces titolo}}.shtml" target="_blank">
							<img class="lazy" src="<!--#echo var='WEB_ROOT_IMG_NAZ'-->/sette/leggi-guarda-viaggia/img/pix.png" data-original="<!--#echo var='WEB_ROOT_IMG_NAZ'-->/sette/leggi-guarda-viaggia/img/{{noSpaces foto}}_small.jpg" alt="{{titolo}}">
						</a>
							<figcaption class="dida"></figcaption>
					</figure>
					<div class="main_bkwrapper">
						<div class="art_wrapper">
							<p class="art_paragraph sommario">{{{normalizzami sommario}}}</p>
						</div>
					</div>
					<span class="testo">{{{normalizzami testo}}}</span>
					<span class="keywords">{{keywords}}</span>
				    <span class="anno">{{anno}}</span>
				    <span class="firma">{{{normalizzami firma}}}</span>					
				</header>
			</article>
		{{else}}
		{{#compare @index 3 operator="<"}}
			<section class="md_ap_sp2">
				<article class="content_md">
					<header class="hdr_mdwrapper">
						<h6 class="label_art numero">{{numero}}</h6><h6 class="label_art categoria">{{{normalizzami categoria}}}</h6>
						<h3 class="title_art titolo">
							<a href="<!--#echo var='WEB_ROOT_NAZ'-->/sette/leggi-guarda-viaggia/archivio/{{anno}}/{{noSpaces titolo}}.shtml" target="_blank">{{{normalizzami titolo}}}</a>
						</h3>
						<div class="main_mdwrapper">
							<div class="art_wrapper">
								<p class="art_paragraph sommario">{{{normalizzami sommario}}}</p>
							</div>
						</div>
				        <span class="testo">{{{normalizzami testo}}}</span>
				        <span class="keywords">{{keywords}}</span>
				        <span class="anno">{{anno}}</span>
				        <span class="firma">{{{normalizzami firma}}}</span>
					</header>
				</article>
				<figure class="img_mdwrapper">
					<a href="<!--#echo var='WEB_ROOT_NAZ'-->/sette/leggi-guarda-viaggia/archivio/{{anno}}/{{noSpaces titolo}}.shtml" target="_blank">
						<img class="lazy" src="<!--#echo var='WEB_ROOT_IMG_NAZ'-->/sette/leggi-guarda-viaggia/img/pix.png" data-original="<!--#echo var='WEB_ROOT_IMG_NAZ'-->/sette/leggi-guarda-viaggia/img/{{noSpaces infografica}}_small.jpg" alt="{{{normalizzami titolo}}}">
						</a>
					<figcaption class="dida"></figcaption>
				</figure>
			</section>
		{{/compare}}	
		{{#compare @index 2 operator=">"}}
			<section class="md_ap_sp2">
				<article class="content_md">
					<header class="hdr_mdwrapper">
						<h6 class="label_art numero">{{numero}}</h6><h6 class="label_art categoria">{{{normalizzami categoria}}}</h6>
						<h3 class="title_art titolo">
							<a href="<!--#echo var='WEB_ROOT_NAZ'-->/sette/leggi-guarda-viaggia/archivio/{{anno}}/{{noSpaces titolo}}.shtml" target="_blank">{{{normalizzami titolo}}}</a>
						</h3>
						<div class="main_mdwrapper">
							<div class="art_wrapper">
								<p class="art_paragraph sommario">{{{normalizzami sommario}}}</p>
							</div>
						</div>
				        <span class="testo">{{{normalizzami testo}}}</span>
				        <span class="keywords">{{keywords}}</span>
				        <span class="anno">{{anno}}</span>
				        <span class="firma">{{{normalizzami firma}}}</span>
					</header>
				</article>
				<figure class="img_mdwrapper">
					<a href="<!--#echo var='WEB_ROOT_NAZ'-->/sette/leggi-guarda-viaggia/archivio/{{anno}}/{{noSpaces titolo}}.shtml" target="_blank">
						<img class="lazy" src="<!--#echo var='WEB_ROOT_IMG_NAZ'-->/sette/leggi-guarda-viaggia/img/pix.png" data-original="<!--#echo var='WEB_ROOT_IMG_NAZ'-->/sette/leggi-guarda-viaggia/img/{{noSpaces infografica}}_small.jpg" alt="{{{normalizzami titolo}}}">
						</a>
					<figcaption class="dida"></figcaption>
				</figure>
			</section>
		{{/compare}}
		{{/if}} --}}
	{{/each}}
	</ul>
	<ul class="pagination"></ul>
</div>		