{{!-- {{reverse infografiche}} --}}
{{!-- {{reverse menu}} --}}

	<!-- introduzione, titolo + testo -->
	<div class="titolazione">
		{{#each testi}}
			{{#if titolo}}
				<h1>{{{normalizzami titolo}}}</h1>
			{{/if}}	
		{{/each}}	
		{{#each testi}}
			{{#if testo}}
				<p>{{{normalizzami testo}}}</p>
			{{/if}}	
		{{/each}}		
	</div>

	<!-- filtri -->		
	<div id="anchor"></div>
	<div class="filtro">
        <select id="filter_anno">
            <option value='all' selected="selected">Anno</option>
            {{#each menu}}
                {{#if anno}}
                    <option value="{{anno}}">{{anno}}</option>
                {{/if}}
            {{/each}}
            <option value='all'>Tutti</option>
        </select>
        <select id="filter_categoria">
            <option value='all' selected="selected">Categoria</option>
            {{#each menu}}
                {{#if categoria}}
                    <option value="{{noSpaces categoria}}">{{categoria}}</option>
                {{/if}}
            {{/each}}
            <option value='all'>Tutti</option>
        </select>        
        <select id="filter_firma">
            <option value='all' selected="selected">Autore</option>
            {{#each menu}}
                {{#if firma}}
                    <option value="{{{normalizzami firma}}}">{{{normalizzami firma}}}</option>
                {{/if}}
            {{/each}}
            <option value='all'>Tutti</option>
        </select>  
        <select id="filter_numero">
            <option value='all' selected="selected">Numero</option>
            {{#each infografiche}}
                {{#if numero}}
                    <option value="{{numero}}">{{numero}}</option>
                {{/if}}
            {{/each}}
            <option value='all'>Tutti</option>
        </select>  
		<label for="search">Filtra la ricerca</label>
		<input class="search" placeholder="Cerca" />
		<div class="messages"></div>
	</div>	

	<!-- elenco infografiche -->
	<ul class="list">
	{{#each infografiche}}
	    <li class="{{keywords}}" data-index="{{@index}}" data-anno="{{anno}}" data-numero="{{numero}}" data-categoria="{{noSpaces categoria}}">
			
		{{#if @first }}
			<article class="bk_art_018">
				<header class="hdr_bkwrapper">
					<h6 class="label_art numero">{{numero}}</h6><h6 class="label_art categoria">{{{normalizzami categoria}}}</h6>
					<h3 class="title_art titolo">
						<a href="<!--#echo var='WEB_ROOT_NAZ'-->/la-lettura/infografiche/archivio2/{{anno}}/{{noSpaces titolo}}.shtml" target="_blank">{{{normalizzami titolo}}}</a>
					</h3>
					<figure class="img_bkwrapper">
						<a href="<!--#echo var='WEB_ROOT_NAZ'-->/la-lettura/infografiche/archivio2/{{anno}}/{{noSpaces titolo}}.shtml" target="_blank">
							<img class="lazy" src="<!--#echo var='WEB_ROOT_IMG_NAZ'-->/la-lettura/infografiche/img/pix.png" data-original="<!--#echo var='WEB_ROOT_IMG_NAZ'-->/la-lettura/infografiche/img/{{noSpaces infografica}}_small.jpg" alt="{{titolo}}">
						</a>
							<figcaption class="dida"></figcaption>
					</figure>
					<div class="main_bkwrapper">
						<div class="art_wrapper">
							<p class="art_paragraph sommario">{{{normalizzami sommario}}}</p>
						</div>
					</div>
					<span class="testo">{{{normalizzami testo}}}</span>
					<span class="keywords">{{keywords}}</span>
				    <span class="anno">{{anno}}</span>
				    <span class="firma">{{{normalizzami firma}}}</span>					
				</header>
			</article>
		{{else}}
		{{#compare @index 3 operator="<"}}
			<section class="md_ap_sp2">
				<article class="content_md">
					<header class="hdr_mdwrapper">
						<h6 class="label_art numero">{{numero}}</h6><h6 class="label_art categoria">{{{normalizzami categoria}}}</h6>
						<h3 class="title_art titolo">
							<a href="<!--#echo var='WEB_ROOT_NAZ'-->/la-lettura/infografiche/archivio2/{{anno}}/{{noSpaces titolo}}.shtml" target="_blank">{{{normalizzami titolo}}}</a>
						</h3>
						<div class="main_mdwrapper">
							<div class="art_wrapper">
								<p class="art_paragraph sommario">{{{normalizzami sommario}}}</p>
							</div>
						</div>
				        <span class="testo">{{{normalizzami testo}}}</span>
				        <span class="keywords">{{keywords}}</span>
				        <span class="anno">{{anno}}</span>
				        <span class="firma">{{{normalizzami firma}}}</span>
					</header>
				</article>
				<figure class="img_mdwrapper">
					<a href="<!--#echo var='WEB_ROOT_NAZ'-->/la-lettura/infografiche/archivio2/{{anno}}/{{noSpaces titolo}}.shtml" target="_blank">
						<img class="lazy" src="<!--#echo var='WEB_ROOT_IMG_NAZ'-->/la-lettura/infografiche/img/pix.png" data-original="<!--#echo var='WEB_ROOT_IMG_NAZ'-->/la-lettura/infografiche/img/{{noSpaces infografica}}_small.jpg" alt="{{{normalizzami titolo}}}">
						</a>
					<figcaption class="dida"></figcaption>
				</figure>
			</section>
		{{/compare}}	
		{{#compare @index 2 operator=">"}}
			<section class="md_ap_sp2">
				<article class="content_md">
					<header class="hdr_mdwrapper">
						<h6 class="label_art numero">{{numero}}</h6><h6 class="label_art categoria">{{{normalizzami categoria}}}</h6>
						<h3 class="title_art titolo">
							<a href="<!--#echo var='WEB_ROOT_NAZ'-->/la-lettura/infografiche/archivio2/{{anno}}/{{noSpaces titolo}}.shtml" target="_blank">{{{normalizzami titolo}}}</a>
						</h3>
						<div class="main_mdwrapper">
							<div class="art_wrapper">
								<p class="art_paragraph sommario">{{{normalizzami sommario}}}</p>
							</div>
						</div>
				        <span class="testo">{{{normalizzami testo}}}</span>
				        <span class="keywords">{{keywords}}</span>
				        <span class="anno">{{anno}}</span>
				        <span class="firma">{{{normalizzami firma}}}</span>
					</header>
				</article>
				<figure class="img_mdwrapper">
					<a href="<!--#echo var='WEB_ROOT_NAZ'-->/la-lettura/infografiche/archivio2/{{anno}}/{{noSpaces titolo}}.shtml" target="_blank">
						<img class="lazy" src="<!--#echo var='WEB_ROOT_IMG_NAZ'-->/la-lettura/infografiche/img/pix.png" data-original="<!--#echo var='WEB_ROOT_IMG_NAZ'-->/la-lettura/infografiche/img/{{noSpaces infografica}}_small.jpg" alt="{{{normalizzami titolo}}}">
						</a>
					<figcaption class="dida"></figcaption>
				</figure>
			</section>
		{{/compare}}
		{{/if}}
	{{/each}}
	</ul>