
<div class="container norow">
	<section class="md_vd_c1_v2 norow wall-auto full" id="infografiche_slider">
		<div class="content">
		<h3 class="title">LE ULTIME INFOGRAFICHE DE LA LETTURA</h3>
			<div>
			{{#each_upto infografiche 10}}
				<article class="bk_art_003">
					<header class="hdr_bkwrapper">
						<figure class="img_bkwrapper">
							<a href="<!--#echo var='WEB_ROOT_NAZ'-->/sette/leggi-guarda-viaggia/archivio/{{anno}}/{{noSpaces titolo}}.shtml">
								<img class="lazy" src="<!--#echo var='AKAMAI_ROOT_IMG'--><!--#echo var='ASSETS_PATH'-->/icon_fake.png?v=<!--#flastmod virtual='${ASSETS_PATH}/icon_fake.png'-->" data-original="<!--#echo var='AKAMAI_ROOT_IMG'--><!--#echo var='WEB_ROOT_IMG_NAZ'-->/sette/leggi-guarda-viaggia/img/{{noSpaces infografica}}_small.jpg" /><noscript><img src="<!--#echo var='AKAMAI_ROOT_IMG'--><!--#echo var='WEB_ROOT_IMG_NAZ'-->/sette/leggi-guarda-viaggia/img/{{noSpaces infografica}}.jpg" /></noscript>
							</a>
						</figure>
						<div class="main_bkwrapper">
							<h6 class="label_art" style="display: block !important;">#{{numero}} / {{{normalizzami categoria}}}</h6>
							<h3 class="title_art">
								<a href="<!--#echo var='WEB_ROOT_NAZ'-->/sette/leggi-guarda-viaggia/archivio/{{anno}}/{{noSpaces titolo}}.shtml">{{{normalizzami titolo}}}</a>
							</h3>
							<div class="art_wrapper">
								<p class="art_paragraph">{{{normalizzami sommario}}}</p>
							</div>
						</div>
					</header>
				</article>
			{{/each_upto}}
			</div>
		</div>
	</section>
</div>