<!DOCTYPE html>

<!--#config timefmt="%Y%m%d%H%M" -->

<!--#set var="firstpub" value="{{anno}}{{mese}}{{giorno}}" -->

<!--#set var="sezione" value="la-lettura" --><!--#set var="sottosezione" value="default" --><!--#set var="sottolivello1" value="default" -->

	<!--#set var="tipologia" value="articolo" -->

	<!--#set var="NOADV" value="false" -->

	<!--#set var="artbrand" value="false" --><!--#set var="lang" value="it" -->

<!--#set var="UUIDSPLIT" value=""-->

<!--#set var="UUID" value=""-->

<!--#set var="FIRMA" value="Redazione Corriere" -->

<!--#set var="PRINTPATH" value=""-->

<!--#set var="COMMENTI" value="Si"-->

<!--#set var="STATO_COMMENTI" value="aperto"-->

<!--#set var="channel_page_title" value="{{{normalizzami titolo}}}" -->





<!--#set var="infografica" value="true" -->

<!--#include virtual="/includes2013/SSI/config/global.config" -->
<!--#include virtual="/includes2013/SSI/head/writeHtml.html" -->

<!--#set var="infiniteScroll" value="0" -->
<head>
	<!-- METATAGS e OGMETA -->

<title itemprop="name">{{{normalizzami titolo}}} - Corriere.it</title>
<meta name="description" itemprop="description" content="{{{normalizzami sommario}}}" />
<meta name="keywords" itemprop="keywords" content="{{keywords}}"/>
<meta name="DC.date.issued" content="{{anno}}-{{numeri mese}}-{{giorno}}">
<meta name="news_keywords" content="{{keywords}}"/>

<meta property="fb:app_id" content="203568503078644"/>
<meta property="og:title" content="{{{normalizzami titolo}}}"/>
<meta property="og:type" content="article"/>
<meta property="og:locale" content="it_IT"/>
<meta property="og:url" itemprop="url" content="http://www.corriere.it/la-lettura/infografiche/archivio/{{anno}}/{{noSpaces titolo}}.shtml"/>
<meta property="og:image" content="h<!--#echo var='WEB_ROOT_IMG_NAZ'-->/la-lettura/infografiche/img/{{noSpaces infografica}}_small.jpg"/>
<meta property="og:site_name" content="Corriere della Sera"/>
<meta property="og:description" content="{{{normalizzami sommario}}}"/>
<meta name="author" content="corriere.it"/>
<meta name="og:author" content="corriere.it"/>
<meta name="og:published_time" content="{{anno}}-{{numeri mese}}-{{giorno}}"/>
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="@corriereit"/>
<meta property="twitter:title" content="{{{normalizzami titolo}}}"/>
<meta property="twitter:description" content="{{{normalizzami sommario}}}"/>
<meta property="twitter:image" content="<!--#echo var='WEB_ROOT_IMG_NAZ'-->/la-lettura/infografiche/img/{{noSpaces infografica}}_small.jpg"/>
<link rel="canonical" href="http://www.corriere.it/la-lettura/infografiche/archivio/{{anno}}/{{noSpaces titolo}}.shtml"/>

	<!-- METATAGS e OGMETA -->

<!--#include virtual="${SSI_PATH}/head/top.shtml" -->
<link rel="stylesheet" type="text/css" href="http://css.corriereobjects.it/infografiche/css/style.css" />
<link rel="stylesheet" type="text/css" href="http://css.corriereobjects.it/la-lettura/infografiche/css/pagina.css" />

																

<!-- NON VISIBILE -->
	<META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
</head>

<body id="<!--#echo var='sezione' -->" class="infografiche sub-<!--#echo var='sottosezione' --> type-<!--#echo var='tipologia'	--> brand-<!--#echo var='brand'	--> brand-<!--#echo var='nomeBrand'	--> <!--#if expr="true =false" --> noSocial<!--#endif-->">

	<!--adv top-->
	
	<!--#include virtual="${SSI_PATH}/adv/top.shtml" -->
	<!--#include virtual='${SSI_CONFIG_PATH}/ssiVariables.shtml' -->
	<!--#include virtual="${SSI_PATH}/top/header.shtml" -->

	<!--#include virtual="/la-lettura/infografiche/testata/testata_custom.shtml" -->

	<nav class="print_nav">
		<ul>
			<li class="stampa">Stampa</li>
			<li class="stampaNoPhoto">Stampa senza immagine</li>
			<li class="chiudi">Chiudi</li>
		</ul>
	</nav>

	<!-- /Header -->
	<section class="container">
		<!--adv pushbar-->
		<!--#include virtual="${SSI_PATH}/adv/pushbar.shtml" -->
	</section>

	<section class="container">

		<article rel="" class="articolo no-row " id="content-to-read" itemscope="" itemtype="http://schema.org/Article">
			<header class="container-header-article">
				<h6 class="article-label" itemprop="articleSection">#{{numero}} / {{{normalizzami categoria}}}</h6>
				<div class="article-place-date rs_skip">
				<span>Milano</span>, {{giorno}} {{mese}} {{anno}}</div>
				<div class="clearfix"></div>
				<h1 class="article-title" itemprop="headline">{{{normalizzami titolo}}}</h1>
				<h2 class="article-subtitle" itemprop="alternativeHeadline">{{{normalizzami sommario}}}</h2>
				{{#if firma}}
					<div class="web_widget_giornalista rs_skip">
						<h3 class="article-signature" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
						di <span class="writer" itemprop="name">{{firma}}</span>
						</h3><!--#include virtual="${COMMUNITY_PATH}/modules/firma.shtml" -->
					</div>
				{{/if}}
				<div class="change-size rs_skip rs_preserve">
				<a class="decrease-font" href="javascript:void(0)" title="Diminuisci Font">A-</a><a class="increase-font" href="javascript:void(0)" title="Aumenta Font">A+</a>
				</div>
				<div class="clearfix"></div>
			</header>

<div class="container-body-article clearfix"><!--#include virtual="${TEMPLATES_PATH}/_modules/md_bx_04.shtml" --><!--#if expr="$DEVICE != mobile" --><div class="web_widget_socialBar light2015 rs_skip rs_preserve" data-href="http://www.corriere.it/la-lettura/infografiche/archivio/{{anno}}/{{noSpaces titolo}}.shtml" rel="" title-art="{{normalizzami titolo}}">
<div class="shadow">
</div><!--#include virtual="${COMMUNITY_PATH}/modules/socialBar_light.shtml" -->
</div><!--#else--><div class="web_widget_socialBar rs_skip rs_preserve" data-href="http://www.corriere.it/la-lettura/infografiche/archivio/{{anno}}/{{noSpaces titolo}}.shtml" rel="" title-art="{{normalizzami titolo}}">
<div class="shadow">
</div><!--#include virtual="${COMMUNITY_PATH}/modules/socialBar2015.shtml" -->
</div><!--#endif-->

<div itemprop="articleBody">

<div class="chapter clearfix">
<p class="chapter-paragraph" style="">

<!-- contenuto infografica -->

		<!--#include virtual="/infografiche/css/fotozoom.inc"-->

		<div class="fotozoom">
			
			<img class="mob" src='<!--#echo var='WEB_ROOT_IMG_NAZ'-->/la-lettura/infografiche/img/{{noSpaces infografica}}.jpg' alt="{{normalizzami titolo}}"/>
			
			<div class="desk">
				<span>Clicca sull'immagine per ingrandirla</span>
				<span class='zoom' id='ex'>
					
				<img src='<!--#echo var='WEB_ROOT_IMG_NAZ'-->/la-lettura/infografiche/img/{{noSpaces infografica}}.jpg' alt="{{normalizzami titolo}}"/>
					
					<p>Click</p>
				</span>
			</div>
		</div>
			<script src='http://js.corriereobjects.it/infografiche/js/jquery.zoom.min.js'></script>
			<script>
				$(document).ready(function(){
					$('#ex').zoom({ on:'click' });
				});
			</script>

<!-- contenuto infografica -->

</p>
</div>


<div class="chapter">
<p class="chapter-paragraph" style="">{{{normalizzami testo}}}</p>
</div>
</div>
<div class="article-signature clearfix">
<div class="article-date-place" itemprop="datePublished" content="{{anno}}-{{numeri mese}}-{{giorno}}">{{giorno}} {{mese}} {{anno}}</div>
<div class="article-credits">&#169; RIPRODUZIONE RISERVATA</div>
</div>
</div>
<!--#if expr="$DEVICE = mobile" -->
						<!--#if expr="$FIRMA && $FIRME_CONCATENATED = /(.*)$FIRMA(.*)/" -->
							  <div class="clearfix"></div>
							<!--#include virtual="/approfondimenti-firme/includes/articoli/articles-${FIRMA}.shtml" -->
						<!--#endif -->
					<!--#endif -->
					

		</article>
		 <!-- /Main Content -->
	</section>
	<!-- /Container -->

	<!--#include virtual="/la-lettura/infografiche/latest.shtml" -->
	
	<!--#include virtual="${SSI_PATH}/bottom/footer.shtml" -->
	<!--#include virtual="${SSI_PATH}/bottom/common_js.shtml" -->

	<script type="text/javascript" src="http://www.corriere.it/infografiche/js/js.js"></script>
	</body>
</html>

