
<div class="wrap_IG">
	<div class="box_infografica_art">
		<a href="<!--#echo var='WEB_ROOT_NAZ'-->/la-lettura/infografiche/archivio/{{anno}}/{{noSpaces titolo}}.shtml">
			<img src="<!--#echo var='WEB_ROOT_IMG_NAZ'-->/la-lettura/infografiche/img/{{noSpaces infografica}}_small.jpg"></a><span class="centered">
		<h5>
			<a href="<!--#echo var='WEB_ROOT_NAZ'-->/la-lettura/infografiche/archivio/{{anno}}/{{noSpaces titolo}}.shtml">GUARDA IL GRAFICO</a>
		</h5>
		<h6>
			<a href="<!--#echo var='WEB_ROOT_NAZ'-->/la-lettura/infografiche/archivio/{{anno}}/{{noSpaces titolo}}.shtml">{{normalizzami titolo}}</a>
		</h6>
	</div>
</div>