

	<select id="filter_titolo" class="article-title">
		{{#each infografiche}}
			{{#if numero}}
			    <option value="http://www.corriere.it/sette/leggi-guarda-viaggia/archivio/{{anno}}/{{noSpaces titolo}}.shtml">{{{normalizzami titolo}}}</option>
			{{/if}}
		{{/each}}
	</select>

	<script>
	    // select option on the right title
		$('.article-title #filter_titolo option').each(function( i ) {
		    var selurl = $(this).val();
		    var realurl = window.location;
		    if ( selurl == realurl ) {
		      $(this).prop("selected", "selected");
		    } else {}
		});
	    // bind change event to select
	    $('#filter_titolo').on('change', function () {
	        var url = $(this).val(); // get selected value
	        if (url) { // require a URL
	            window.location = url; // redirect
	        }
	        return false;
	    });		  
  	</script>