<!-- PUBBLICATIONTYPE -->
	<!-- LETTURA HOMEPAGE E SALVATAGGIO PEZZI IMPAGINATI -->
	<br/>
		ZoneName:ZONA_FULLPAGE<br/>
		<br/>
		ZoneName:ZONA_APERTURA_BIG<br/>
		
							Uuid:bb66a10c-483c-11e6-9c18-dd6019c078c3<br/>
							<br/>
		ZoneName:ZONA_APERTURA_BIG_DX<br/>
		
							Uuid:46ea5464-4359-11e6-831b-0b63011f1840<br/>
							<br/>
		ZoneName:ZONA_SOPPALCO<br/>
		
							Uuid:715c1dc2-4773-11e6-af4e-15bff4e09cf7<br/>
							<br/>
		ZoneName:ZONA_COLONNA_1<br/>
		
							Uuid:928e2ea0-4844-11e6-9c18-dd6019c078c3<br/>
							
							Uuid:c1db0f9a-3d1b-11e6-922f-98d199acd386<br/>
							
							Uuid:e736eee2-4817-11e6-9c18-dd6019c078c3<br/>
							
							Uuid:fe3891f2-41ca-11e6-91d1-c0b7aa8f545f<br/>
							
							Uuid:09b4d5e4-3c6d-11e6-9ec4-cc8bddb9414f<br/>
							
							Uuid:5357efc6-3a27-11e6-b0cd-400401d1dfdf<br/>
							
							Uuid:5e37ec54-3908-11e6-8ed6-effe53090867<br/>
							
							Uuid:59fde8d0-395a-11e6-8ed6-effe53090867<br/>
							
							Uuid:af070a44-3939-11e6-8ed6-effe53090867<br/>
							
							Uuid:152b25fe-392a-11e6-8ed6-effe53090867<br/>
							
							Uuid:70318238-3955-11e6-8ed6-effe53090867<br/>
							
							Uuid:6479a22c-3842-11e6-9b03-1ff54c0a662d<br/>
							
							Uuid:3380a680-384b-11e6-9b03-1ff54c0a662d<br/>
							
							Uuid:da44126a-3853-11e6-9b03-1ff54c0a662d<br/>
							
							Uuid:8c7c4ce4-385a-11e6-af01-13e8abfd5afa<br/>
							
							Uuid:8aa8bb26-3857-11e6-af01-13e8abfd5afa<br/>
							
							Uuid:8c56c54a-3851-11e6-9b03-1ff54c0a662d<br/>
							
							Uuid:81b8b7d6-384e-11e6-9b03-1ff54c0a662d<br/>
							
							Uuid:1dc52f78-385f-11e6-af01-13e8abfd5afa<br/>
							
							Uuid:efc41826-37cf-11e6-ad05-6c8e02b5840c<br/>
							
							Uuid:e777fd12-37b2-11e6-ad05-6c8e02b5840c<br/>
							
							Uuid:8b566438-3249-11e6-9479-1c0658e56669<br/>
							
							Uuid:8ba37272-3173-11e6-a677-1493abad1a34<br/>
							
							Uuid:1af412d0-3479-11e6-a404-40e2630a61a7<br/>
							
							Uuid:fad7c2f6-2c78-11e6-b303-a777738cf73e<br/>
							
							Uuid:800e19a0-2339-11e6-853e-9c2971638379<br/>
							
							Uuid:7b9ef5d6-2d90-11e6-9ed7-029647940570<br/>
							
							Uuid:60b98ffa-0dfc-11e6-91a4-bd67d1315537<br/>
							
							Uuid:9967a4d2-c5c6-11e5-b3b7-699cc16119c2<br/>
							
							Uuid:96298f36-dbd5-11e5-b9ca-09e1837d908b<br/>
							<br/>
		ZoneName:ZONA_COLONNA_2<br/>
		
										Uuid:479502d4-429f-11e6-b736-d853470efb0e<br/>
										
										Uuid:17bf7e3a-441c-11e6-a4dc-8aa8f57c2afd<br/>
										
										Uuid:ce8b88a4-3c3b-11e6-9ec4-cc8bddb9414f<br/>
										
										Uuid:3c101662-3893-11e6-af01-13e8abfd5afa<br/>
										
										Uuid:e317d56c-388e-11e6-af01-13e8abfd5afa<br/>
										
										Uuid:b2aece46-3869-11e6-af01-13e8abfd5afa<br/>
										
										Uuid:10612ca4-385c-11e6-af01-13e8abfd5afa<br/>
										
										Uuid:7b64a390-3849-11e6-9b03-1ff54c0a662d<br/>
										
										Uuid:b36d1c72-37ef-11e6-ad05-6c8e02b5840c<br/>
										
										Uuid:85b1fd7c-383d-11e6-9b03-1ff54c0a662d<br/>
										
										Uuid:c578eff2-37d8-11e6-ad05-6c8e02b5840c<br/>
										
										Uuid:34fed2cc-3493-11e6-a404-40e2630a61a7<br/>
										
										Uuid:c7871d52-33c6-11e6-b8e9-6b78a4af30ec<br/>
										
										Uuid:e3baeb94-36c2-11e6-88d7-7a12a568ff47<br/>
										
										Uuid:1f4e77b0-2f0d-11e6-bb6d-75d636c22361<br/>
										
										Uuid:2c202f56-2d5f-11e6-9ed7-029647940570<br/>
										
										Uuid:be8e69a8-2665-11e6-844b-1dd7d0858058<br/>
										
										Uuid:3e6070a8-16e7-11e4-ad95-f737a6cb8946<br/>
										
										Uuid:6be67b3c-2495-11e5-8714-c38f22f7c1da<br/>
										
										Uuid:866dee8a-c383-11e5-b326-365a9a1e3b10<br/>
										
										Uuid:826e481c-a3d9-11e5-900d-2dd5b80ea9fe<br/>
										