{{!-- {{reverse infografiche}} --}}
{{!-- {{reverse menu}} --}}



	<!-- filtri -->		
	
	<div class="filtro">

        <fieldset>
	        <label for="search">vai alla provincia:</label>    
	        <select id="filter_provincia">
	            <option value='all' selected="provincia">Tutte le province</option>
	            {{#each menu}}
	                {{#if provincia}}
	                    <option value="{{provincia}}">{{provincia}}</option>
	                {{/if}}
	            {{/each}}
	            <option value='all'>Tutte</option>
	        </select>
	    </fieldset>
	    <img src="https://images2.corriereobjects.it/speciale/cronache/2020/distributori/img/x.svg" class="ics" />
	</div>	
	<br class="clearfix" />

