
        <link rel="stylesheet" type="text/css" href="https://css2.corriereobjects.it/speciale/cronache/2020/distributori/css/font.css"> 
        <link rel="stylesheet" type="text/css" href="https://css2.corriereobjects.it/speciale/cronache/2020/distributori/css/css.css">
        <link rel="stylesheet" type="text/css" href="https://css2.corriereobjects.it/speciale/cronache/2020/distributori/css/province.css"> 
{{!--         <link rel="stylesheet" type="text/css" href="https://css2.corriereobjects.it/speciale/cronache/2020/distributori/css/magnific-popup.css">  --}}

    <div id="elenco">
        <span id="anchor"></span>

<!--#include virtual="/speciale/cronache/2020/distributori/filtri.shtml"-->

{{!-- {{reverse infografiche}} --}}
{{!-- {{reverse menu}} --}}


	<!-- elenco infografiche -->

	<div class="messages"></div>

	<ul class="list">
	{{#each infografiche}}
	    {{#if PROVINCIA}}
	    <li class="{{noSpaces PROVINCIA}} " data-index="{{@index}}" data-provincia="{{PROVINCIA}}">
	    	<h2 class="provincia">{{PROVINCIA}}</h2>
	    	<table>
	    		<tr>
	    			<td class="marca">{{#if MARCA}}{{MARCA}}{{/if}}</td>
	    			<td class="indirizzo">{{#if INDIRIZZO}}{{INDIRIZZO}}{{/if}}</td>
	    			<td class="mappa">{{#if INDIRIZZO}}<a class="mappa" href="https://maps.google.com/maps?f=d&saddr=&daddr={{INDIRIZZO}}" target="_blank" title="vai alla mappa"><img src="https://images2.corriereobjects.it/speciale/cronache/2020/distributori/img/mappa.svg" /></a><iframe src="https://maps.google.com/maps?q={{INDIRIZZO}}+()&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" seamless></iframe>{{/if}}</td>
				</tr>
			</table>
	    </li>
	{{/if}}	    
	{{/each}}
	</ul>
	<ul class="pagination"></ul>
	

</div>


        <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.3.0/list.min.js"></script>
        <script src="https://js2.corriereobjects.it/speciale/cronache/2020/distributori/js/list.pagination.min.js"></script>
        {{!-- <script src="https://js2.corriereobjects.it/speciale/cronache/2020/distributori/js/jquery.magnific-popup.min.js"></script> --}}
        <script src="https://js2.corriereobjects.it/speciale/cronache/2020/distributori/js/jquery.colorbox.min.js"></script>
        <script src="https://js2.corriereobjects.it/speciale/cronache/2020/distributori/js/js.js"></script> 
				
		<!-- graficicol -->