
{{#each menu}}
	li.{{{noSpaces provincia}}} {
	   margin: 80px 0 0 0;
	}
	li.{{{noSpaces provincia}}}::before {
	    content: "{{{provincia}}}";
    	display: block;
		height: 60px;
    	width: 100%;
	    font-size: 18px;
	    font-weight: bold;
	    background-image: url('https://images2.corriereobjects.it/speciale/cronache/2020/distributori/img/legenda.svg');
	    background-repeat: no-repeat;
	    background-position: right bottom;
	}
	li.{{{noSpaces provincia}}} ~ .{{{noSpaces provincia}}} {
	    margin: 0
	}
	li.{{{noSpaces provincia}}} ~ .{{{noSpaces provincia}}}::before {
	    content: none
	}
{{/each}}
